*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.artifacts/guide/implementation_plan.artifact.md
/.artifacts/guide/task.artifact.md
/.artifacts/guide/walkthrough.artifact.md